<div class="login-page">
	<div class="container h-100">
		<div class="row d-flex my-auto">
			<div class="col-xl-8 m-auto col-sm-8 col-12">
				<div class="log-box">
					<div class="row">
						<div class="col-xl-5 col-sm-5 col-12 pad-right-0">
							<div class="logo-back">
							</div>
						</div>
						<div class="col-xl-7 col-sm-7 col-12 pad-left-0">
							<div class="log-content">
								<h1>LOGIN </h1>
								<div class="log-body">
								<div class="form-group myr-top">
								<label>Gmail</label>
									<input type="text" class="form-control custom" placeholder="Gmail">
								</div>
								<div class="form-group myr-top">
								<label>Password</label>
									<input type="passowrd" class="form-control custom" placeholder="Password">
                                </div>
                                <a href= "login" >
                                    <div class="btn btn-primary btn-block">
                                        Login
                                    </div>
                                </a>
                                <a href= "/register" class="d-flex my-2" >
                                    <div class="btn btn-secondary btn-block">
                                        Create Account
                                    </div>
                                </a>
                                <a href= "forgotpass" >
                                    Forgot Password
                                </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>