<div class="login-page">
	<div class="container maxhw d-grid">
		<div class="row login-box m-auto ">
			<div class="col-12">
				<div class="log-box">
					<div class="row login-width">
						<div class="col-12 pad-left-0">
							<div class="log-content">
								<h1>LOGIN </h1>
								<div class="log-body">
								<div class="form-group ">
								<label>Email</label>
									<input type="email" class="form-control custom" placeholder="Email" [(ngModel)]="credentials.email">
								</div>
								<div class="form-group">
								<label>Password</label>
									<input type="password" class="form-control custom" placeholder="Password" [(ngModel)]="credentials.password">
								</div>
								<div id="error" class="error"></div>
                                <a (click)="postLoginCredentials()" >
                                    <div class="btn btn-primary btn-block">
                                        Login
                                    </div>
                                </a>
                                <hr>
                                <a routerLink= "/register" class="d-flex my-2" >
                                    <div class="btn btn-secondary btn-block">
                                        Create Account
                                    </div>
                                </a>
                                <!-- <a href= "forgotpass" >
                                    Forgot Password
                                </a> -->
                                <!-- <button (click)= "testSession()">
                                    Test Session
                                </button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>