<div class="row home-page">
    <div class="col-4 nav-component d-flex align-items-end flex-column">
        <app-navigation></app-navigation>
        <h3 id="logout" class="pages align-self-end mt-auto p-2">Logout</h3>
    </div>
    <div class="col-8">
        <div class="col-6 map-component">
            <app-friendship-list></app-friendship-list>
        </div>
        <div class="col-6 map-component">
            <app-friend-requests></app-friend-requests>
        </div>
        <div class="container" id="addFriendsPanel">
            <div class="form-group">
                <label>Enter the email of the user you want to add    </label>
                <input type="email" name="email" required class="form-control custom" [(ngModel)]="emailToAdd">
            </div>
            <a (click)="addFriend()">
                <div class="btn btn-primary btn-block">
                Add
                </div>
            </a>
        </div>
    </div>
</div> 
<div class="container" id="addFriendsPanel">
    <div class="form-group">
        <label id="addUserLabel">Enter the email of the user you want to add    </label>
        <input type="email" name="email" required class="form-control custom" [(ngModel)]="emailToAdd">
    </div>
    <a (click)="addFriend()">
        <div class="btn btn-primary btn-block">
        Add
        </div>
    </a>
</div>
<!-- add a form for adding friends -->

