html{
    height: 100%
}
body{
    height: 100%
}
.state{
    stroke-width: 1;
    stroke: #333;
    fill: #bbbbbb
}
.state:hover {
    cursor: pointer;
}
.legend{
    position: absolute;
    right: 20px;
    top: 10px;
}